gcloud-launcher
.env

# Ignore Python cache files
__pycache__/
.mypy_cache
.pytest_cache
.ruff_cache
*.pyc
*.pyo

# Ignore virtual environments
.venv/

# Ignore version control directories
.git/
.gitignore

# Ignore Dockerfile and docker-compose files
Dockerfile*
docker-compose*

# Ignore other unnecessary files
*.log
.vscode
